body {
  white-space: nowrap;
  position: absolute;
}

table { 
	border-spacing:0px;
}

td {
	padding:0px;
	margin:0px;
}

.orb {
	width: 53px;
	height: 53px;
  cursor: pointer; cursor: hand;
}

td .orb:hover {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.fire {
	background: url('../assets/sprites.png') no-repeat -2px -2px;
}

.water {
	background: url('../assets/sprites.png') no-repeat -2px -59px;
}

.wood {
	background: url('../assets/sprites.png') no-repeat -2px -117px;
}

.light {
	background: url('../assets/sprites.png') no-repeat -1px -175px;
}

.dark {
	background: url('../assets/sprites.png') no-repeat -1px -233px;
}

.unknown {
	background: url('../assets/sprites.png') no-repeat -2px -467px;
}

.heal {
	background: url('../assets/sprites.png') no-repeat -3px -294px;
	width: 52px;
	height: 49px;
}

.bg_0 {
	background: url('../assets/sprites.png') no-repeat -3px -351px;
	width: 53px;
	height: 53px;
}

.bg_1 {
	background: url('../assets/sprites.png') no-repeat -3px -409px;
	width: 53px;
	height: 53px;
}


/* Editor css styles */

.unselected {
	opacity:0.3;
}

/* Pulse */		/* modified from hover.css */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.selected {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#board_editor {
  padding:0px;
  margin:0px;
  white-space: nowrap;
}

#board_editor > li {
	list-style: none;
  display:inline-block;
}

.hidden {
  display:none;
}

.module {
  float:left;
}